@use './header.scss';
@use './footer.scss';
@use "@material/card";

body {
  margin: 0;
  background-color: #f5f5f5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1;

  main .mdc-card {
    padding: 48px 40px 36px;
    margin-bottom: 36px;
    width: 400px;
    min-height: 360px;

    .mdc-card__title {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .mdc-card__subtitle {
      font-size: 0.875rem;
      line-height: 1.25rem;
      opacity: .8;
      margin-bottom: 1.25rem;

      p {
        margin: 0;

        span {
          font-weight: bold;
        }
      }
    }
  }
}

@include card.core-styles;