@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

header {
    display: flex;
    margin: 0 auto 24px;

    img {
        margin: auto 8px;
    }

    h3 {
        margin: auto 0;
        font-family: "Poppins", sans-serif;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
    }
}